/* Romeo Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url('./media/alien-background.jpg') no-repeat 0;
    color: #edeae5;
    height: 100vh;
}

h1{
    margin-left: 30px;
    text-align: center;
}



.display {
    background: #1a1a1a;
    width: 35%;
    height: 42%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.card {
    padding: 6px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active{
    transform: scale(.97);
    transition: transform .2s;
}

.card img {
    background: white;
    padding: 6px;

}

.card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    position: absolute;
    border: 2px solid red;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.btn {
    background: #1a1a1a;
    color: #edeae5;
    width: 150px;
    height: 40px;
    margin-top: 15px;
    margin-left: 450px;
}
.footer {
    text-align: center;
    padding-top: 190px;
}